html,
body,
#mapid {
  height: 100%;
  padding: 0;
  margin: 0;
}

.legend {
  padding: 10 px;
  line-height: 18px;
  color: #554;
  background-color: white;
  border-radius: 5px;
}

.legend i {
  float: left;
  width: 18px;
  height: 18px;
  margin-right: 8px;
  opacity: 0.69
}


/* body { padding: 0; margin: 0; } #mapid, body, html { height: 100%; } */